//- img_gif.jade

block div
  h1
    a(href=reddit_url + permalink) #{title}
  video(poster=url preload="auto", autoplay="autoplay", mute="muted", loop="loop")
    source(src=mp4 type="video/mp4")
    source(src=webm type="video/webm")
